<main>
  <section>
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-4 p-0">     
          <img src="./img/Picture1.png" alt="" class="img-fluid mx-auto d-block">   
        </div>
  
        <div class="bg-black text-white text-center p-lg-3 p-5 col-lg-4">
          <div class="d-flex flex-column justify-content-evenly text-center h-100">
            <h1 class="fw-bolder" style="font-size: 3rem;">
              FUTURISTIC <br> FASHION
            </h1>
            <p class="fs-3 px-4 mb-3 text-sm fw-light py-3 py-lg-0">A fresh reimagination of iconic Chuck Taylor styling, the Cruise blends skate-inspired style with lightweight comfort</p>
            <a href="#!allproducts/1"><button type="button" ng-click="ScrollTo()" class="btn btn-light rounded-0 px-5 py-3 fs-4 fw-medium">Shop Now</button></a>            
          </div>                
        </div>
        
        <div class="col-lg-4 p-0 d-none d-lg-block">
          <img src="./img/2.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>      
  </section>

  <section>
    <div>
      <div class="container py-5">
        <h1>Trending Styles</h1>
        <a href="#" class="nav-link fw-semibold"><i class="fa-solid fa-arrow-right"></i> Shop All Trending Styles</a>
      </div>
      <div class="container-xxl">
        <div class="row">
          <div class="col-sm-3 col-6 position-relative p-2 trending-box">
            <a href="#!allproducts/2" ng-click="ScrollTo()">
              <img src="./img/VN_Chuck_70.jpg" alt="" class="img-fluid">
              <div class="trending-hover"></div>
            </a>
          </div>
          <div class="col-sm-3 col-6 position-relative p-2 trending-box">
            <a href="#!allproducts/3" ng-click="ScrollTo()">
              <img src="./img/VN_Classic_Chuck.jpg" alt="" class="img-fluid">
              <div class="trending-hover"></div>
            </a>
          </div>
          <div class="col-sm-3 col-6 position-relative p-2 trending-box">
            <a href="#!allproducts/4" ng-click="ScrollTo()">
              <img src="./img/VN_Elevation.jpg" alt="" class="img-fluid">
              <div class="trending-hover"></div>
            </a>
          </div>
          <div class="col-sm-3 col-6 position-relative p-2 trending-box">
            <a href="#!allproducts/1" ng-click="ScrollTo()">
              <img src="./img/VN_Comfort.jpg" alt="" class="img-fluid">
              <div class="trending-hover"></div>
            </a>
          </div>
        </div>  
      </div>  
    </div>    
  </section>

  <section>
    <div class="container-xxl mt-4">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators ">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-black" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-black" aria-label="Slide 2"></button>            
        </div>
        <div class="carousel-inner">            
          <div class="carousel-item active">
            <div class="row text-center pt-3">
              <div class="col-lg col-sm p-0">                
                <div class="d-flex flex-column justify-content-center h-100">                  
                  <div class="row">
                    <h1 class="fw-bolder">WEEKEND SPECIAL</h1>
                    <div class="col">
                      <h2 class="fw-bold">CASH REBATE</h2>
                      <h1 class="fw-bold text-danger">VND 300K*</h1>
                      <h5 class="fw-light">*with min. spend VND 2.000K</h5>
                    </div>       
                    <div class="vr bg-black p-0 opacity-100"></div>
                    <div class="col">
                      <h2 class="fw-bold">CASH REBATE</h2>
                      <h1 class="fw-bold text-danger">VND 150K*</h1>
                      <h5 class="fw-light">*with min. spend VND 1.299K</h5>
                    </div>
                  </div>
                  <div class="mt-5">
                    <h3 class="">12 - 14 JANUARY</h3>
                    <a href="#!allproducts/1">
                      <button type="button" ng-click="ScrollTo()" class="bg-black text-white border-0 px-5 py-3 my-5 fs-4 fw-medium"><span class="ps-4"></span>Mua Ngay<span class="ps-4"></span></button>
                    </a>                    
                    <p class="fw-bold pb-3">*Chính sách và Điều khoản áp dụng</p>
                  </div>                  
                </div>
              </div>

              <div class="col-lg d-none d-lg-block  p-0">
                <img src="./img/5.png" class="img-fluid" alt="...">
              </div>
            </div>              
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col p-0 d-none d-md-block">
                  <img src="./img/3.png" alt="" class="img-fluid">
                </div>

                <div class="bg-black text-white text-center col p-0 py-md-5 position-relative">    
                  <div class="d-block d-md-none z-0 opacity-25">
                    <img src="./img/4.png" alt="" class="img-fluid">
                  </div> 
                  <div class="container h-100 position-absolute start-0 end-0 bottom-0 bg-transparent">                    
                    <div class="d-flex flex-column justify-content-evenly h-100">
                      <h1 class="fw-bolder text-wrap" style="font-size: 3.7rem;">
                        CRAFTED <br> AND COZY
                      </h1>
                      <p class="fs-6 py-3 fw-light">
                        Make these crafted Chuck 70s your go-to on brick days.
                        On cold days, these premium high tops keep you looking chill.
                        Overlays of suede and leather bring a handcrafted style that's make for the street.
                        And when temps dip, keep it toasty with help form the warm, faux fur lining.
                      </p>
                      <a href="#!allproducts/2"><button type="button" ng-click="ScrollTo()" class="btn btn-light rounded-0 px-5 py-3 fs-4 fw-medium opacity-100">Shop Now</button></a>
                    </div>                                        
                  </div>                
                </div>

                <div class="col d-none d-lg-block p-0">
                  <img src="./img/4.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-md-4 col-12 my-3">
          <a href="#!allproducts/5" ng-click="ScrollTo()"><img src="./img/Cat_Men_Desktop_Eng.jpg" alt="" class="img-fluid"></a>            
        </div>
        <div class="col-md-4 col-12 my-3">
          <a href="#!allproducts/6" ng-click="ScrollTo()"><img src="./img/Cat_Women_Desktop_Eng.jpg" alt="" class="img-fluid"></a>            
        </div>
        <div class="col-md-4 col-12 my-3">
          <a href="#!allproducts/7" ng-click="ScrollTo()"><img src="./img/VN_UNISEX_2.jpg" alt="" class="img-fluid"></a>            
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-xxl mt-5 pt-5 d-none d-md-block">
      <div class="row">
        <div class="bg-black text-white text-center col-lg-4 col-md-5 p-0">
          <div class="d-flex flex-column justify-content-evenly h-100 p-5">
            <div class="">
              <h1 class="fw-bolder text-wrap" style="font-size: 3rem;">
                BE BOLD
              </h1>
            </div>
            
            <p class="fs-2 fw-light">
              Solid black canvas brings the bold, while animal spots embolden your style frome every angle.
            </p>
            <a href="#!allproducts/3" ng-click="ScrollTo()"><button ng-click="ScrollTo()" type="button" class="btn btn-outline-light rounded-0 px-5 py-3 fs-4 fw-medium">Shop Now</button></a>
          </div>                
        </div>

        <div class="col-lg-8 col-md-7 p-0">
          <img src="./img/6.png" alt="" class="img-fluid mx-auto d-block">
        </div>
      </div>
    </div>
  </section>

  <section>           
    <div class="container-xxl mb-5 d-none d-md-block">
      <div class="container my-5 py-5 px-0">
        <h2>From Our Community</h2>
      </div> 
      <div class="row h-100">
        <div class="col-md-6 col-12 p-0 community-box">
          <a href="#"><img src="./img/VN_Large_banner_left.jpg" alt="" class="img-fluid float-end"></a>            
        </div>

        <div class="col-md-6 col-12 p-0">
          <div class="h-50 bg-black text-white text-center d-flex flex-column justify-content-center">
            <h1 class="">Show <br> Your Own Style</h1>
            <h6 class="mt-4">Use <span class="text-primary">#ConverseStyle</span> on Instagram to stand out</h6>                  
          </div> 

          <div class="d-flex mb-5">
            <div class="community-box">
              <a href="#"><img src="./img/VN_ENG_Small_banner_middle.jpg" alt="" class="img-fluid"></a>                              
            </div>
            <div class="community-box">
              <a href="#"><img src="./img/VN_Small_banner_right.jpg" alt="" class="img-fluid"></a>                
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-xxl mt-5">
      <div class="row">
        <div class="bg-black text-white text-center col-lg-5 col-12 p-0">
          <div class="container h-100 py-5">
            <div class="d-flex flex-column justify-content-evenly h-100">
              <div class="py-4"><img src="./img/logo/image.png" class="img-fluid" alt="" width="30%"></div>                
              <h1 class="fw-bolder text-wrap py-4" style="font-size: 3.7rem;">
                NEVER <br> MISS A BEAT
              </h1>
              <p class="fs-6 fw-light py-4">
                Sign up with us today and be the part of <br>
                Converse mailing list. <br>
                Get the latest update, news and exclusive drop - <br>
                sent straight to your inbox.
              </p>
              <a href="./allproducts.html"><button type="button" class="btn btn-outline-light rounded-0 px-5 py-3 fs-4 fw-medium">Sign Up for Emails</button></a>
            </div>            
          </div>                
        </div>
        <div class="col-7 d-none d-lg-block p-0">
          <img src="./img/7.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section>      
    <div class="container-xxl d-none d-md-block">
      <div class="container py-5">
        <h1>Explore Converse</h1>        
      </div>
      <div class="row fw-bold border border border-black">
        <div class="col-xl col-md-4 border border-2 border-black pt-4 fs-4">
          <a href="#" class="nav-link ms-5 py-3 underline-hover"><i class="fa-solid fa-arrow-right"></i> All<br> Women's</a>
        </div>
        <div class="col-xl col-md-4 border border-2 border-black pt-4  fs-4">
          <a href="#" class="nav-link ms-5 py-3 underline-hover"><i class="fa-solid fa-arrow-right"></i> All<br> Men's</a>
        </div>
        <div class="col-xl col-md-4 border border-2 border-black pt-4  fs-4">
          <a href="#" class="nav-link ms-5 py-3 underline-hover"><i class="fa-solid fa-arrow-right"></i> All<br> Kid's</a>
        </div>
        <div class="col-xl col-md-4 p-0">            
          <div class="px-4 py-4 border border-2 border-black"><a href="#" class="nav-link underline-hover"><i class="fa-solid fa-arrow-right"></i> Chuck 70</a></div>
          <div class="px-4 py-4 border border-2 border-black"><a href="#" class="nav-link underline-hover"><i class="fa-solid fa-arrow-right"></i> Slip-Ons</a></div>                          
        </div>
        <div class="col-xl col-md-4 p-0">            
            <div class="px-4 py-4 border border-2 border-black"><a href="#" class="nav-link underline-hover"><i class="fa-solid fa-arrow-right"></i> All Star</a></div>
            <div class="px-4 py-4 border border-2 border-black"><a href="#" class="nav-link underline-hover"><i class="fa-solid fa-arrow-right"></i> All Clothing</a></div>                          
        </div>
        <div class="col-xl col-md-4 p-0">            
          <div class="px-4 py-4 border border-2 border-black"><a href="#" class="nav-link underline-hover"><i class="fa-solid fa-arrow-right"></i> Elevation</a></div>
          <div class="px-4 py-4 border border-2 border-black"><a href="#" class="nav-link underline-hover"><i class="fa-solid fa-arrow-right"></i> Accessories</a></div>              
        </div>
        </div>
      </div>
    </div>
  </section>

  <section> 
    <div class="container-xxl mt-5 border-top border-bottom border-light-subtle">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 col-6 py-5 order-md-1 order-1">
            <h5><i class="fa-solid fa-truck-fast"></i></h5>
            <h5 class="py-3">Fast, Free Shipping</h5>
            <p class="fw-light text-body-tertiary">Free Shipping on every order <br> nationwide.</p>
            <a class="text-black fw-bold" href="#">Learn More</a>
          </div>

          <div class="col-md-4 col-12 order-md-2 order-3 py-5 border-start border-end border-light-subtle">
            <h5><i class="fa-solid fa-right-left"></i></h5>
            <h5 class="py-3">Worry-Free Returns</h5>
            <p class="fw-light text-body-tertiary">Terms & conditions apply</p>
            <a class="text-black fw-bold" href="#">Learn More</a>
          </div>

          <div class="col-md-4 col-6 order-md-3 order-2 py-5">
            <h5><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i></h5>
            <h5 class="py-3">Follow Us</h5>
            <p class="fw-light text-body-tertiary">Keep up with the latest Converse <br> news on our social channels.</p>              
          </div>
        </div>
      </div>
    </div>
  </section>
</main>